### Project ###
node_modules
output

### OSX ###
.DS_Store

### VisualStudioCode ###
.vscode/*

### Xcode ###
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
